body {
  background-color: #cccccc;
}

p {
  letter-spacing: 0.1em;
  text-shadow: 0px 0px 10px white;
  font-weight: bold;
}

a {
  letter-spacing: 0.1em;
  line-height: 20px;
  font-weight: bold;
}

.color {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1ch;
}

.c-clock_frame {
  position: relative;
  background-color: #cccccc;
  width: 450px;
  height: 450px;
  border: 1px solid #333;
  border-radius: 50%;
}

.c-clock {
  position: absolute;
  background-color: #cccccc;
  top: 25px;
  left: 25px;
  width: 400px;
  height: 400px;
  border: 1px solid #333;
  border-radius: 50%;
}

.clockcentor {
  background: #333;
  position: absolute;
  top: calc(50% - 10px);
  left: calc(50% - 10px);
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.c-clock__hour {
  position: absolute;
  top: calc(50% - 150px);
  left: calc(50% - 5px);
  width: 10px;
  height: 150px;
  background: #333;
  transform-origin: bottom;
}

.c-clock__min {
  position: absolute;
  top: calc(50% - 180px);
  left: calc(50% - 2px);
  width: 4px;
  height: 180px;
  background: #333;
  transform-origin: bottom;
}

.c-clock__sec {
  position: absolute;
  top: calc(50% - 200px);
  left: calc(50% - 1px);
  width: 2px;
  height: 200px;
  background: #ff0000;
  transform-origin: bottom;
}

.c-clock__12 {
  position: absolute;
  top: 10px;
  left: calc(50%);
  transform: translateX(-50%);
  font-size: 18px;
}

.c-clock__3 {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  font-size: 18px;
}

.c-clock__6 {
  position: absolute;
  bottom: 10px;
  left: calc(50%);
  transform: translateX(-50%);
  font-size: 18px;
}

.c-clock__9 {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  font-size: 18px;
}

.box {
  background: white;
  padding: 0.5em 1em;
  margin: 2em 0;
  font-weight: bold;
  border: solid 3px #000000;
}

.box p {
  margin: 0;
  padding: 0;
}
